# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# The destination for the Go Android archive.
android/libs

# Output files from the Makefile:
tailscale-debug.apk
tailscale-release.aab
tailscale-fdroid.apk

# Signing key
tailscale.jks

# android sdk dir
./android-sdk