# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# The destination for the Go Android archive.
android/libs
android_legacy/libs

# Ignore ABI
android/src/main/jniLibs/*

# Android Studio files
android_legacy/.idea
android_legacy/local.properties
android/.idea
android/local.properties
.idea

# Output files from the Makefile:
*.apk
*.aab

# Signing key
tailscale.jks

# android sdk dir
./android-sdk

# Java profiling output
*.hprof

#IDE
.vscode
.idea

libtailscale.aar
libtailscale-sources.jar
.DS_Store

tailscale.version
