# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# The destination for the Go Android archive.
android/libs

# Android Studio files
android/.idea
android/local.properties

# Output files from the Makefile:
tailscale-debug.apk
tailscale-release.aab
tailscale-fdroid.apk
tailscale-newapp.apk

# Signing key
tailscale.jks

# android sdk dir
./android-sdk

# Java profiling output
*.hprof

#IDE
.vscode