name: Android CI

on:
  push:
    branches:
      - main
      - "release-branch/*"
  pull_request:
    # all PRs on all branches

jobs:
  build:
    runs-on: ubuntu-latest

    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: "go.mod"
      - name: Switch to Java 17 # Note: 17 is pre-installed on ubuntu-latest
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          distribution: "temurin"
          java-version: "17"

      # Clean should essentially be a no-op, but make sure that it works.
      - name: Clean
        run: make clean

      - name: Build APKs
        run: make tailscale-debug.apk

      - name: Run Unit Tests
        run: make test

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Start emulator
        run: |
          adb devices
          adb wait-for-device
          adb shell input keyevent 82 &

      - name: Run Integration Tests 
        run: make integration-test
